*{
    margin: 0;
}

body{
    margin: 0;
    background-color: #7b5E7B;
}


.main-inv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

.inv-text{
    color: #ffff;
    font-size: 2rem;
}

.btn1{
    color: #ffff;
    font-size: 1em;
    border: 13px solid rgb(10, 10, 161);
    background: rgb(10, 10, 161);
    border-radius: 70px;
    margin-top: 23px;
}

.modal{
    background-color: #7b5E7B;
}
